.container-form{
  width: 400px;
  height: 833px;
  left: 180px;
  top: 78px;
  position: absolute;
  z-index: 0;

  h1{
    text-align: center;
    margin: 0.5rem;
  }
}
form {
  width: 400px;
  height: 833px;
  color: #2D3748;

  padding: 20px;
  border-radius: 3px;
  border-width: 1px;


  background: #fff;
  box-shadow: 0 2px 8px #00000066;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    margin-bottom: 10px;
    padding: 8px;
  }

  hr{
    margin: 1rem 0px 1rem 0px ;
    color: #E2E8F0;
    opacity: 0.5;
  }
  h2{
    text-align: center;
  }

  #button-get-user{
    height: 42px;
    border: 1.8px solid #a0aec0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    transition: background-color 0.3s ease-out;
    &:hover{
      cursor: pointer;
      box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.30);
    }

    #icon{
      width: 19.5px;
      height: 21.03px;
    }

  }


  #button-submit{
    height: 42px;
    border: 1.8px solid #a0aec0;
    font-size: 16px;
    background-color: #38A169;
    font-weight: 500;
    margin-top: 1rem 0rem 0rem;
    &:hover{
      cursor: pointer;
    }
  }


}
